{% extends "sites/theme_fhh_tmdt_5/vi/common/layout.html" %}
{%block meta_seo %}
{% include "fhh-framework/seo/include/brand.html" %}
{% endblock %}
{% block css%}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='lib/slick-1.6.0/slick.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='lib/slick-1.6.0/slick-theme.css')}}" />
{% endblock css%}
{% block content%}
<section class="title-page-wrap">
  <div class="row">
    <a href="{{url_for('home.index')}}">Trang chủ</a><span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
    <a class="active-title" href="{{url_for('site_brand.index')}}">thương hiệu</a><span></span>
  </div>
</section>
<div class="row" style="padding-bottom: 20px; padding-top: 20px;">
  <div class="large-12 medium-12 small-12 columns ">
    <div class="item-right">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">
        {% for b in brands%}
          <li class="box-div wow fadeInDown" data-wow-duration="1s" style="text-align: center;">
            <a href="{{url_for('site_brand.detail', link=b.link)}}"><div class="box-image">
              <img src="{{b.image_original_url}}">
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
</div>
{% endblock %}
{%block script%}
{{super()}}
  <!-- <script src="{{url_for('static', filename='lib/tinyColorPicker/jqColorPicker.min.js')}}"></script> -->
  <script src="{{url_for('static', filename='lib/slick-1.6.0/slick.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/slick.js')}}"></script>
{%endblock%}
