:root {
    --black: #000;
    --green: #2cc067;
    --red: #d82a29;
    --blue: #0074da;
    --yellow: #fdd835;
    --bg-gray: #f1f1f1;
    --black-op: #666;
    --black-dark: #202c43;
    --blue-dark: #243a76;
    --white: #fff;
    --bg-body: #f4f4f4;
    --green-light: #d0ecdd;
}

.header_top {
    justify-content: space-between;
}

header .header_top,
header .header_top-left,
header .header_top-right {
    display: flex;
    align-items: center;
}

header p {
    margin: 0;
}

.header_mobile {
    display: none;
}

.hotline,
.mega-hotline {
    position: relative;
    padding: 5px 0;
    z-index: 2;
}

.hotline .title,
.mega-hotline .title {
    font-size: 13px;
    margin-left: 15px;
    padding: 5px 10px;
    background: repeating-linear-gradient(to right, red 0, #00f 50%, red 100%);
    color: var(--white);
    border-radius: 20px;
    font-weight: 300;
    cursor: pointer;
    background-size: 200% auto;
    animation: 2s linear infinite forwards gradient;
}

.hotline:hover .sub {
    display: block;
}

.top_header-item:hover .sub {
    display: block;
}

.sub {
    width: max-content;
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: var(--white);
    border: 1px solid #ccc;
    box-shadow: rgb(0 0 0 / 18%) 0 6px 12px 0;
}

.mega-hotline .mega-sub {
    position: fixed;
    top: 40px;
    width: 1200px;
    margin: 0 auto;
    display: none;
    left: 50%;
    background: #fff;
    transform: translateX(-50%);
    border-radius: 5px;
}

.sub .item {
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 13px;
}

.sub .item span {
    background: var(--blue-dark);
    border-radius: 50%;
    color: var(--white);
    padding: 2px 8px;
    margin-right: 5px;
}

@keyframes gradient {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -200% 0
    }
}

.header_top-left p {
    font-size: 13px;
    font-weight: 300;
    padding: 5px 0;
}

.header_top-left p a {
    font-weight: 600;
    text-decoration: none;
    color: var(--black);
}

.hotline i,
.mega-hotline i,
.top_header-item i {
    padding-right: 3px;
}

.header-wrapper {
    border-width: 1px 0;
    border-style: solid;
    border-color: #ccc;
    background: var(--white);
}

.top_header-item .sub {
    top: 38px;
    z-index: 2;
}

.top_header-item:last-child .sub {
    left: auto;
    right: 0;
}

.account-block .sub {
    padding: 10px 10px 5px;

}

.account-block {
    text-align: center;
}

.account-block .sub .item i {
    text-align: center;
    padding: 15px 0;
    width: 40px;
    background: rgba(0, 0, 0, .15);
    font-size: 17px;
    margin-right: 5px;

}

.account-block .sub .item span {
    margin: 0;
    background: transparent;
}


.item.login-link {
    background: var(--yellow);
}

.item.google-link,
.item.fb-link,
.item.zalo-link {
    color: #fff;
    text-align: left;
    padding: 0 10px 0 0;
}

.google-link {
    background: var(--red);

}

.fb-link {
    background: var(--blue-dark);
}

.zalo-link {
    background: var(--blue);
}

.top_header-item {
    position: relative;
    padding: 10px 0 10px 20px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: var(--black);
}

.account-block .sub .item {
    border: 0;
    margin-bottom: 5px;
    font-weight: 600;

}

.top_header-item:hover {
    color: var(--black);
}

.tab-hotline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    border-radius: 5px;
    background: var(--white);
}

.tab-hotline .title-tab.hovered {
    background: var(--red);
    color: var(--white);
}



.tab-hotline .title-tab {
    width: 33.33%;
    text-align: center;
    background: var(--bg-gray);
    border-radius: 20px;
    color: var(--black);
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #fff;
    cursor: pointer;
    text-transform: uppercase;
}


.work-time {
    border: 2px solid var(--red);
    padding: 5px 10px;
    font-size: 18px;
    width: fit-content;
    border-radius: 20px;
    font-weight: 600;
    margin: 10px auto 25px;
}

.tab-content-items {
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    display: none;
}

.tab-content-items.actice {
    display: block;
}

.tab-content-items .row.tab {
    flex-direction: row-reverse;
}

.tab-content-items .title-col {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

.tab-content-items .row.tab .col-md-4 .item-contact a,
.tab-content-items .row.tab .col-md-4 .item-contact {
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    line-height: 1.9;
}

.tab-content-items .row.tab .col-md-4 {
    padding-bottom: 15px;
}

.tab-content-items .row.tab .col-md-4 .item-contact a:last-child {
    color: var(--red);
}

.content-item-block {
    padding-bottom: 15px;
}

.header_top-left .hotline-address p {
    font-weight: 500;
    color: var(--black);
    font-size: 14px;
}

.header_top-left .hotline-address {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.header_mobile .overlay {
    top: 50px;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 1;
    background: #fff;
}

.header_mobile .row.active .overlay {
    display: block;
    transition: .5s all linear;
    background: rgba(0, 0, 0, 0.6);
}

.overlay.active {
    display: block;
    animation: 1s linear forwards slowHotline;
}

@keyframes slowHotline {
    0% {
        background: #fff;
    }

    100% {
        background: rgb(120, 120, 120);
    }
}

.header_bottom,
.header_bottom-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_bottom .img-logo {
    width: 20%;
}

.header_bottom .search-input {
    width: 63%;
    display: flex;
    align-items: center;
}

.header_bottom .search-input input {
    width: 90%;
    padding: 10px 20px;
    border: var(--red) 2px solid;
    font-size: 14px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.header_bottom .search-input button {
    padding: 7px 20px;
    border: var(--red) 2px solid;
    background: var(--red);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -5px;
}

.header_bottom .search-input button i {
    font-size: 24px;
    color: #fff;
}

.header_bottom .header_bottom-right {
    width: 30%;
}

.header_bottom .header_bottom-right a {
    text-decoration: none;
    color: var(--black);
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.header_bottom .header_bottom-right a .icon-header {
    padding: 10px 15px;
    background: var(--white);
    border-radius: 50%;
    border: 1px solid #aaa;
}

.qty {
    position: absolute;
    top: -10px;
    right: 3px;
    background: var(--red);
    padding: 0 6px;
    color: #fff;
    border-radius: 50%;
    font-size: 13px;
    z-index: 1;
    border: 2px solid #fff;
}

.header_bottom .header_bottom-right .cart-header {
    font-weight: 400;
    font-size: 14px;

}

.cart-icon {
    position: relative;
}


.header_bottom .header_bottom-right .cart-header span i {
    font-size: 33px;
    padding-right: 5px;
}

.c-bot {
    background: var(--bg-body);
    padding: 20px 0;
}

.title-builpc span {
    display: block;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 400;
}

.header_mobile .row.active .menu_mobile {
    left: 0;
}

.header_mobile .row.active .header-left i::before {
    content: '\f00d';
}

.header_mobile .row.active .header-left span i {
    font-size: 22px;
}

.menu_mobile {
    display: none;
    position: fixed;
    top: 50px;
    left: -100%;
    width: 100%;
    background: #fff;
    z-index: 1;
    height: 100vh;
    transition: all .5s ease;
    z-index: 11;
}

.login {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
}

.login i {
    font-size: 35px;
    color: #888;
    padding-right: 30px;
}

.login a {
    color: var(--black);
    text-decoration: none;
}

.title-cate:hover {
    color: var(--black);
}

.product-cate-menu {
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
}

.title-cate {
    text-decoration: none;
    color: var(--black);
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.title-cate i {
    padding-right: 10px;
}

.product-cate-menu .card-body {
    padding: 0;
    border: 0;
}

.list-product-menu,
.menu-item-block ul {
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100%;
}


.list-product-menu li a i {
    padding-right: 20px;
}

.list-product-menu li.active i.fa-chevron-down {
    top: 15px;
}

.list-product-menu li.active>i.fa-chevron-down::before {
    content: "\f077";
}

.list-product-menu li i.fa-chevron-down {
    position: absolute;
    right: 10px;
    font-size: 11px;
}

.menu_sub li .menu_sub_child {
    display: none;
}

.menu_sub li.active .menu_sub_child {
    display: block;
}

.list-product-menu li .menu_sub {
    overflow: hidden;
    max-height: 0;
}

.list-product-menu li.active .menu_sub {
    max-height: max-content;
    animation: .3s linear collapse;

}

@keyframes collapse {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 400px;
    }
}

.list-product-menu li {
    padding: 11px 0;
    border-top: 1px solid #dcdcdc;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.list-product-menu li:first-child {
    margin-top: 10px;
}

.list-product-menu li a,
.menu-item-block ul li a {
    color: var(--black);
    text-decoration: none;
    font-size: 14px;
}

.menu-item-block ul li {
    padding: 10px 0;
}

.menu-item-block ul li i {
    font-size: 18px;
    padding-right: 10px;
}

.menu-item-block ul li a strong {
    color: var(--red);
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

.menu-item-block .fa-eye {
    position: relative;
}

.menu-item-block .fa-eye .qty {
    background: var(--red);
    position: absolute;
    top: -14px;
    right: -3px;
    font-size: 10px;
    color: #fff;
    padding: 3px 7px;
}

.category {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 7px;
    border: 1px solid #e1e1e1;
    position: relative;
}

.category li {
    padding: 0 5px;
    border-top: 1px solid #e8e8e8;
}

.category li a i {
    width: 30px;
}

.category a {
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
}

.content {
    background: var(--bg-body);
}

.banner-home .banner-item {
    width: 100%;
}

.banner-home .banner-item * {
    width: 100%;
}

.top-content .row .col {
    padding-bottom: 7px;
}

.row-2>.banner-item {
    padding-bottom: 15px;
}

.cate-item:hover {
    background: var(--bg-body);
}

.vertical-sub {
    position: absolute;
    left: 100%;
    width: 100%;
    top: -2px;
    height: 670px;
    z-index: 1;
    background: #fff;
    width: 1378px;
    border: 1px solid #e1e1e1;
    display: none;
}

.cate_sub-item:hover .item-cate-sub {
    display: block;
    z-index: 2;

}

.category .vertical-sub a:hover {
    border-bottom: 1px solid var(--red);
}

.category .vertical-sub a {
    border-bottom: 1px solid transparent;
}

.item-cate-sub {
    display: none;
    position: absolute;
    top: -7px;
    left: 100%;
    width: max-content;
    background: #fff;
    box-shadow: 0 0 4px 0 #b5b5b5;
    margin-left: 10px;
}

.item-cate-sub a {
    padding: 5px;
    width: 100%;
}

.category .item-cate-sub a:hover {
    color: var(--red);
    border-bottom: 1px solid var(--red):
}

.cate_sub-item {
    position: relative;
    padding: 5px 0;
    width: fit-content;
}

.item-cate-sub:before {
    content: '';
    position: absolute;
    width: 0;
    border: 5px solid transparent;
    border-right-color: #d2d2d2;
    left: -11px;
    top: 16px;
}

.item-cate-sub:after {
    content: '';
    position: absolute;
    width: 0;
    border: 5px solid transparent;
    border-right-color: #fff;
    left: -10px;
    top: 16px;
}

.cate-item>a:hover {
    background: var(--bg-body);
}

.category .cate-item>a {
    position: relative;
    display: block;
    width: 100%;
    line-height: 2.7;
}

.cate-item>a:hover:before {
    content: "";
    right: -35px;
    top: 0;
    position: absolute;
    border-right: 15px solid transparent;
    border-top: 17.5px solid transparent;
    border-left: 15px solid var(--bg-body);
    border-bottom: 17.5px solid transparent;
    z-index: 2;
}

.category .cate_sub-item a i {
    font-size: 10px;
    padding-left: 2px;
    width: fit-content;
}

.category .cate_sub-item .title-cate>* {
    color: var(--red);
    font-size: 14px;
    font-weight: 500;
}

.category .cate_sub-item a {
    font-size: 13px;
    font-weight: 400;
    position: relative;
    display: flex;
    width: fit-content;
    align-items: center;
}

.cate-item:hover .vertical-sub {
    display: block;

}


.cate_sub {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 10px;
    height: 100%;
    overflow-y: auto;
}

.box-cate {
    width: 20%;
    padding: 0 10px 15px;
}

.item-brand {
    float: left;
    width: calc(50% - 5px);
    background: rgba(0, 0, 0, .04);

    margin-right: 5px;
    margin-top: 5px;
}

.item-brand a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.item-brand img {
    max-width: 100px;
    max-height: 40px;
    margin: auto;
    padding: 10px;
}

.hot {
    font-size: 11px;
    position: absolute;
    background: #ed1b24;
    color: #fff;
    padding: 0 5px;
    margin-left: 9px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 15px;
    left: 100%;
}

.hot:before {
    position: absolute;
    left: -6px;
    top: 0;
    content: '';
    border-left: none;
    border-right: 6px solid #ed1b24;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
}

.hot:after {
    position: absolute;
    right: -5px;
    top: 0;
    content: '';
    border-right: 5px solid transparent;
    border-top: 7.5px solid #ed1b24;
    border-bottom: 7.5px solid #ed1b24;
}

.featured-cate .row img {
    width: 100%;
}
.featured-cate>.row{
	padding: 20px 0;
}

.featured-cate {
    padding: 20px 0;
}

.product-block {
    background: #fff;
    padding: 20px 0;
}

.product-block .cate-name {
    font-size: 24px;
    color: var(--red);
    font-weight: 300;
    text-align: center;
}

.item-product {
    padding: 10px;
}

.featured-cate .img-product img {
    width: 75%;
    margin: 0 auto;
}

.rating i {
    font-size: 12px;
    color: #ffa60c;
}

.item-product .d-flex {
    justify-content: space-between;
}

.sku {
    background: #f1f1f1;
    padding: 3px;
    font-size: 13px;
    font-weight: 300;
}

.item-product a {
    text-decoration: none;
}

.product-name {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 500;
    padding: 7px 0;
    display: block;
}

.item-product p {
    margin-bottom: 0;
}

.product-name:hover {
    color: var(--black);
}

.max-price span {
    text-decoration: line-through;
    color: #666;
}

.max-price .discount {
    text-decoration: none;
    color: var(--red);
}

.min-price {
    font-weight: 600;
    font-size: 23px;
}

.action span {
    color: #2cc067;
    font-size: 13px;
}

.action a {
    color: var(--black);
}

.item-product .view-all {
    display: block;
    margin-top: 30px;
    background: var(--blue-dark);
    color: #fff;
}

.slide-product .slick-prev {
    left: 10px;
    top: 45%;
    z-index: 1;
}

.slide-product .slick-next {
    right: 10px;
    top: 45%;
    z-index: 1;
}

.slide-product .slick-prev:before {
    content: "\f053";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    color: #ccc;
    font-size: 35px;
}

.slide-product .slick-next:before {
    content: "\f054";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    color: #ccc;
    font-size: 35px;
}