:root {
    --black: #000;
    --green: #2cc067;
    --red: #d82a29;
    --blue: #0074da;
    --yellow: #fdd835;
    --bg-gray: #f1f1f1;
    --black-op: #666;
    --black-dark: #202c43;
    --blue-dark: #243a76;
    --white: #fff;
    --bg-body: #f4f4f4;
    --green-light: #d0ecdd;
}

.header_top {
    justify-content: space-between;
}

header .header_top,
header .header_top-left,
header .header_top-right {
    display: flex;
    align-items: center;
}

header p {
    margin: 0;
}

.header_mobile {
    display: none;
}

.hotline,
.mega-hotline {
    position: relative;
    padding: 5px 0;
    z-index: 2;
}

.hotline .title,
.mega-hotline .title {
    font-size: 13px;
    margin-left: 15px;
    padding: 5px 10px;
    background: repeating-linear-gradient(to right, red 0, #00f 50%, red 100%);
    color: var(--white);
    border-radius: 20px;
    font-weight: 300;
    cursor: pointer;
    background-size: 200% auto;
    animation: 2s linear infinite forwards gradient;
}

.hotline:hover .sub {
    display: block;
}

.hotline .sub {
    width: max-content;
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: var(--white);
    border: 1px solid #ccc;
    box-shadow: rgb(0 0 0 / 18%) 0 6px 12px 0;
}

.mega-hotline .mega-sub {
    position: fixed;
    top: 40px;
    width: 1200px;
    margin: 0 auto;
    display: none;
    left: 50%;
    background: #fff;
    transform: translateX(-50%);
    border-radius: 5px;
}

.hotline .sub .item {
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 13px;
}

.hotline .sub .item span {
    background: var(--blue-dark);
    border-radius: 50%;
    color: var(--white);
    padding: 2px 8px;
    margin-right: 5px;
}

@keyframes gradient {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -200% 0
    }
}

.header_top-left p {
    font-size: 13px;
    font-weight: 300;
    padding: 5px 0;
}

.header_top-left p a {
    font-weight: 600;
    text-decoration: none;
    color: var(--black);
}

.hotline i,
.mega-hotline i,
.top_header-item i {
    padding-right: 3px;
}

.header-wrapper {
    border-width: 1px 0;
    border-style: solid;
    border-color: #ccc;
    background: var(--white);
}

.top_header-item {
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: var(--black);
}

.top_header-item:hover {
    color: var(--black);
}

.tab-hotline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    border-radius: 5px;
    background: var(--white);
}

.tab-hotline .title-tab.hovered {
    background: var(--red);
    color: var(--white);
}



.tab-hotline .title-tab {
    width: 33.33%;
    text-align: center;
    background: var(--bg-gray);
    border-radius: 20px;
    color: var(--black);
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #fff;
    cursor: pointer;
    text-transform: uppercase;
}


.work-time {
    border: 2px solid var(--red);
    padding: 5px 10px;
    font-size: 18px;
    width: fit-content;
    border-radius: 20px;
    font-weight: 600;
    margin: 10px auto 25px;
}

.tab-content-items {
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    display: none;
}

.tab-content-items.actice {
    display: block;
}

.tab-content-items .row.tab {
    flex-direction: row-reverse;
}

.tab-content-items .title-col {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

.tab-content-items .row.tab .col-md-4 .item-contact a,
.tab-content-items .row.tab .col-md-4 .item-contact {
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    line-height: 1.9;
}

.tab-content-items .row.tab .col-md-4 {
    padding-bottom: 15px;
}

.tab-content-items .row.tab .col-md-4 .item-contact a:last-child {
    color: var(--red);
}

.content-item-block {
    padding-bottom: 15px;
}

.header_top-left .hotline-address p {
    font-weight: 500;
    color: var(--black);
    font-size: 14px;
}

.header_top-left .hotline-address {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.header_mobile .overlay {
    top: 50px;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 1;
    background: #fff;
}

.header_mobile .row.active .overlay {
    display: block;
    transition: .5s all linear;
    background: rgba(0, 0, 0, 0.6);
}

.overlay.active {
    display: block;
    animation: 1s linear forwards slowHotline;
}

@keyframes slowHotline {
    0% {
        background: #fff;
    }

    100% {
        background: rgb(120, 120, 120);
    }
}

.header_bottom,
.header_bottom-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_bottom .img-logo {
    width: 15%;
}

.header_bottom .search-input {
    width: 55%;
    display: flex;
    align-items: center;
}

.header_bottom .search-input input {
    width: 90%;
    padding: 10px 20px;
    border: var(--red) 2px solid;
    font-size: 14px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.header_bottom .search-input button {
    padding: 7px 20px;
    border: var(--red) 2px solid;
    background: var(--red);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -5px;
}

.header_bottom .search-input button i {
    font-size: 24px;
    color: #fff;
}

.header_bottom .header_bottom-right {
    width: 30%;
}

.header_bottom .header_bottom-right a {
    text-decoration: none;
    color: var(--black);
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.header_bottom .header_bottom-right a .icon-header {
    padding: 10px 15px;
    background: var(--white);
    border-radius: 50%;
    border: 1px solid #aaa;
}

.qty {
    position: absolute;
    top: -10px;
    right: 3px;
    background: var(--red);
    padding: 0 6px;
    color: #fff;
    border-radius: 50%;
    font-size: 13px;
    z-index: 1;
    border: 2px solid #fff;
}

.header_bottom .header_bottom-right .cart-header {
    font-weight: 400;
    font-size: 14px;

}

.cart-icon {
    position: relative;
}


.header_bottom .header_bottom-right .cart-header span i {
    font-size: 33px;
    padding-right: 5px;
}

.c-bot {
    background: var(--bg-body);
    padding: 20px 0;
}

.title-builpc span {
    display: block;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 400;
}

.header_mobile .row.active .menu_mobile {
    left: 0;
}

.header_mobile .row.active .header-left i::before {
    content: '\f00d';
}

.header_mobile .row.active .header-left span i {
    font-size: 22px;
}

.menu_mobile {
    display: none;
    position: fixed;
    top: 50px;
    left: -100%;
    width: 100%;
    background: #fff;
    z-index: 1;
    height: 100vh;
    transition: all .5s ease;
    z-index: 11;
}

.login {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
}

.login i {
    font-size: 35px;
    color: #888;
    padding-right: 30px;
}

.login a {
    color: var(--black);
    text-decoration: none;
}

.title-cate:hover {
    color: var(--black);
}

.product-cate-menu {
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
}

.title-cate {
    text-decoration: none;
    color: var(--black);
    display: flex;
    align-items: center;
}

.title-cate i {
    padding-right: 10px;
}

.product-cate-menu .card-body {
    padding: 0;
    border: 0;
}

.list-product-menu,
.menu-item-block ul {
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100%;
}


.list-product-menu li a i {
    padding-right: 20px;
}

.list-product-menu li.active i.fa-chevron-down {
    top: 15px;
}

.list-product-menu li.active>i.fa-chevron-down::before {
    content: "\f077";
}

.list-product-menu li i.fa-chevron-down {
    position: absolute;
    right: 10px;
    font-size: 11px;
}

.menu_sub li .menu_sub_child {
    display: none;
}

.menu_sub li.active .menu_sub_child {
    display: block;
}

.list-product-menu li .menu_sub {
    overflow: hidden;
    max-height: 0;
}

.list-product-menu li.active .menu_sub {
    max-height: max-content;
    animation: .3s linear collapse;

}

@keyframes collapse {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 400px;
    }
}

.list-product-menu li {
    padding: 11px 0;
    border-top: 1px solid #dcdcdc;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.list-product-menu li:first-child {
    margin-top: 10px;
}

.list-product-menu li a,
.menu-item-block ul li a {
    color: var(--black);
    text-decoration: none;
    font-size: 14px;
}

.menu-item-block ul li {
    padding: 10px 0;
}

.menu-item-block ul li i {
    font-size: 18px;
    padding-right: 10px;
}

.menu-item-block ul li a strong {
    color: var(--red);
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

.menu-item-block .fa-eye {
    position: relative;
}

.menu-item-block .fa-eye .qty {
    background: var(--red);
    position: absolute;
    top: -14px;
    right: -3px;
    font-size: 10px;
    color: #fff;
    padding: 3px 7px;
}