@media (min-width: 1650px) {

    .container {
        max-width: 1650px;
    }

    .mega-hotline .mega-sub {
        width: 1650px;
    }

}

@media (max-width: 1170px) {

    .sidebar-style-2 .sidebar-news-item .news-desc a,
    .sidebar-news-item .news-desc a,
    .sidebar-news-item:first-child .news-desc a,
    .title-sidebar {
        font-size: 14px;
    }

    .content-news-item .desc-news.left .article-title {
        font-size: 13px;
    }

    .review-info .rate,
    .review-info .button-review {
        width: 30%;
    }

    .user-info .first-letter {
        padding: 10px;
        width: 50px;
        height: 50px;
    }

    .review-info .rate-count {
        width: calc(50% - 10px);
        margin: 0 5px;
    }

    .review-info .button-review .btn-review {
        padding: 5px 15px;
    }

    .product_name-detail {
        font-size: 17px;
        margin: 0 0 20px;
        padding-left: 12px;
    }

    .review-info .rate {
        font-size: 30px;
    }

    .related-news-item .title-news {
        font-size: 14px;
    }

    .spct-title {
        font-size: 16px;
    }

    .list-unstyled ul {
        padding-top: 0;
    }

    .filter-item ul li {
        width: calc(100% - 5px);
    }

    .pagination.product {
        width: 100%;
        justify-content: flex-end !important;
    }

    .new-sort-zone nav {
        width: 100%;
        padding: 5px 0;
    }

    .product-desc .collapse:not(.show) {
        height: 450px;
    }

    .pagination.product .page-item .page-link {
        font-size: 13px;
    }

    .container {
        max-width: 100%;
    }


    .showroom-table {
        width: 33.3333%;
    }

    .vertical-left {
        display: none;
    }

    .top-content .col-12 {
        width: 100%;
    }

    .product-block .cate-name {
        font-size: 16px;
    }

    .homepage-product .slick-prev,
    .homepage-product .slick-next {
        top: 30%;
    }

    .homepage-product .slick-prev:before,
    .homepage-product .slick-next:before {
        font-size: 20px;
    }

    .item-product a {
        font-size: 13px;
    }

    .policy-block .policy-icon i {
        font-size: 25px;
    }

    .policy-content .policy-title {
        font-size: 14px;
    }

    .policy-block .policy-icon {
        padding-right: 10px;
    }

    .min-price {
        font-size: 17px;
    }

    .title-box .h-title {
        font-size: 17px;
    }

    .rating i {
        font-size: 10px;
    }

    .form-contact-footer a {
        padding: 10px 20px;
    }

    ..title-box .sub-cate-title {
        width: 65%;
    }

    .title-box .sub-cate-title a {
        font-size: 13px;
    }

    .title-box .view-all {
        width: 10%;
        text-align: right;
    }

    .item-product p {
        font-size: 13px;
    }

    .mega-hotline .mega-sub {
        width: 100%;
    }

    .hotline .title,
    .mega-hotline .title {
        font-size: 13px;
        margin-left: 10px;
        padding: 5px 7px;
    }

    .header_bottom .header_bottom-right {
        width: 38%;
    }

    .header_bottom .search-input {
        width: 50%;
    }

    .list-blog-type-1 .img-news {
        height: auto;
    }
}

@media (max-width: 1024px) {


    .news_content .col-sm-7 {
        width: 58.33333333%;
    }

    .news_content .col-sm-5 {
        width: 41.66666667%;
    }

    .col-md-8 .content-news-item .desc-news.left .article-title {
        font-size: 15px;
    }

    .big-item .d-emtry a {
        font-size: 17px;
    }

    .read-more {
        font-size: 14px;
    }

    .blog-item .desc-news .article-title {
        font-size: 14px;
    }

    .list-blog-item span {
        width: 50px;
    }

    .review-info .button-review span {
        font-size: 13px;
        line-height: 1;
    }

    .rate-count .rate-item .rate-number {
        width: 13%;
    }

    .static-content select {
        width: 48%;
    }

    .rate-count .rate-item .total-rate {
        width: 33%;
    }

    .review-info .button-review .btn-review {
        padding: 5px 10px;
    }

    .button-buy .installment {
        margin-top: 5px;
    }

    .price-detai .min-price {
        font-size: 20px;
    }

    .button-buy a span {
        font-size: 16px;
    }

    .c-top {
        max-width: 100%;
    }

    header .header_top {
        display: none;
    }

    .header_bottom .img-logo {
        width: 11%;
    }

    .header_bottom .img-logo img {
        width: 100%;
    }

    .header_bottom .search-input button {
        padding: 4px 20px;
    }

    .header_bottom .search-input input {
        width: 90%;
        padding: 6px 20px;
        font-size: 13px;

    }

    .header_bottom .search-input button i {
        font-size: 20px;
    }

    .header_bottom .search-input {
        width: 46%;
    }

    .header_bottom .header_bottom-right {
        width: 41%;
    }
}

@media (max-width: 480px) {
    .news-sidebar-block {
        padding: 20px 0 0;
    }

    .comment-respond textarea {
        min-height: 100px;
    }

    .news_content-detail .main-content {
        background: #fff;
    }

    .left-news-detail .article-title {
        font-size: 20px;
        font-weight: bold;
    }

    .comment-respond h3 {
        font-size: 16px;
    }

    .news_content-detail .main-content {
        margin-bottom: 0;
    }

    .content-detail .left-news-detail,
    .content-detail .right-news-sidebar {
        width: 100%;
        padding: 0;
        box-shadow: none;
    }

    .comment-form .btn {
        margin: 15px 0 10px;
        font-size: 14px;
    }

    .top-footer h3 {
        padding: 10px;
    }


    .top-one .top-blog-item .num {
        font-size: 35px;
    }

    .list-blog-item span {
        width: 40px;
    }

    .blog-item .img-news {
        width: 100%;
    }

    .news_content .col-12 {
        width: 100%
    }

    .col-md-8 .img-news img {
        height: auto;
    }

    .small-items .p-title-news {
        font-weight: 500;
    }

    .big-item .d-emtry a {
        font-size: 22px;
    }

    .news-menu-top {
        display: none;
    }

    .product-detail-top .col-12 {
        padding: 0;
    }

    .content-detail-tab {
        box-shadow: none;
        padding: 12px 0;

    }

    .product-detail-static-content {
        padding: 0;
        margin-top: 10px;
    }

    .list-review-item .reply-comment-content {
        border: 0px solid #e8e8e8;
        border-left-width: 5px;
        background: #fff;
        margin-bottom: 10px
    }

    .list-review-item .reply-comment-content::before,
    .list-review-item .reply-comment-content::after {
        border: 0;
    }

    .list-coment-item {
        flex-wrap: wrap;
    }

    .user-info .coment-time,
    .user-info .username {
        text-align: left;
        padding: 0;
    }

    .list-coment-item .user-info {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .list-coment-item .user-info div {
        margin-right: 4px;
    }

    .information .comment-content {
        padding: 5px 0;
    }

    .list-coment-item .information {
        width: 100%;
    }

    .user-info .first-letter {
        margin: 0;
        padding: 0;
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        font-size: 15px;
    }

    .mini-content .p-name {
        font-weight: bold;
    }

    .mini-content .p-time {
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    .box-comment textarea {
        font-size: 13px;
    }

    .review-box {
        flex-wrap: wrap;
    }

    .review-box .review-left,
    .review-box .review-right {
        width: 100%;
    }

    .review-box .review-left {
        margin-bottom: 10px;
    }

    .review-box .review-right input,
    .review-box .review-right button {
        width: 100%;
    }

    .list-comment .read-more a {
        background: #fff;
        color: #288ad6;
        border: 1px solid #288ad6;
    }

    .review-info .rate-count {
        width: 35%;
        margin: 0 20px;
    }

    .rate-count .rate-item .progress {
        display: none;
    }

    .rate-count .rate-item .rate-number {
        width: 25%;
    }

    .rate-count .rate-item .total-rate {
        width: 75%;
        font-weight: 400;
    }

    .review-info .button-review {
        width: 100%;
        margin-top: 10px;
    }

    .review-info .button-review span {
        font-size: 13px;
        line-height: 2.5;
        display: block;
        text-align: left;
    }

    .review-info .button-review .btn-review,
    .review-box .review-right button {
        padding: 10px;
        width: 100%;
        background: #fff;
        color: #288ad6;
        font-weight: 400;
        border: 1px solid #288ad6;
    }

    .rate-count .rate-item {
        line-height: 1.8;
        font-weight: 300;
    }

    .product_name-detail {
        font-size: 14px;
        margin: 0 0 15px;
        padding: 10px 0;
        padding-left: 12px;
    }

    .review-info .rate {
        font-size: 15px;
        color: var(--black);
        text-align: left;
    }

    .review-info {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .product-detail-bottom .right-col,
    .product-detail-bottom .left-col {
        width: 100%;
    }

    .content-detail-tab.related-news-block {
        display: none;
    }

    .product-desc .collapse:not(.show) {
        height: 360px;
    }

    .product-detail-bottom {
        flex-direction: column-reverse;
    }

    .bg-op a {
        top: 0;
        font-size: 12px;
    }

    .bg-op::after {
        height: 75px;
    }

    .list-unstyled {
        display: none;
    }

    .min-price {
        color: var(--red);
    }

    .item-product {
        padding: 30px 0 10px;
        position: relative;
    }

    .sku {
        position: absolute;
        left: 0;
        top: 10px;
        background: #fff;
        color: var(--red);
    }

    .hot-product {
        display: none;
    }

    .content_product-page .row.w-mb {
        width: calc(100% + 24px);
        margin-left: -12px;
    }

    .cate-product-list .row .col-md-3:nth-child(2n) {
        border-right: 0;
    }

    .content.active {
        margin-top: 120px;
    }

    .cate-prod-top {
        background: #fff;
        padding: 0;
        margin: 0;
    }

    .sort-zone-mb {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .sort-zone-mb .dropdown {
        width: calc(50% - 5px);
        margin-bottom: 10px;
    }

    .sort-zone-mb .dropdown button {
        color: #333;
        width: 100%;
        background-color: #dcdcdc;
        text-align: left;
        display: flex;
        align-items: center;
        border: 0;
    }

    .sort-zone-mb .dropdown button::after {
        position: absolute;
        right: 10px;
        color: #aba9a9;
    }

    .sort-zone-mb .dropdown button:focus {
        box-shadow: none;
    }

    .sort-zone-mb .dropdown .dropdown-mega {
        width: calc(100vw - 23px);
        overflow: auto hidden;
    }

    .new-sort-zone,
    .sort-zone,
    .horizontal-price-filter,
    .left-content-product {
        display: none;
    }

    .right-content-product {
        width: 100%;
    }

    .right-slide .col-md-4 {
        display: none;
    }

    .content_home .service-block {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 30px 0;
    }

    header {
        display: none;
    }

    .featured-cate {
        display: none;
    }

    .header_mobile {
        display: block;

    }

    .content {
        background: #fff;
    }

    .showroom-table {
        width: 100%;
    }

    .header_mobile {
        padding: 10px 0;
    }

    .header_mobile .col-2 img {
        width: 30px;
        padding-right: 10px;
    }

    .header-right a {
        position: relative;
    }

    .header_mobile .header-left {
        text-align: left;
        cursor: pointer;
    }

    .header_mobile .row {
        align-items: center;
    }

    .qty {
        position: absolute;
        top: -8px;
        right: 0;
        background: var(--yellow);
        font-size: 12px;
        color: #000;
    }

    .header_mobile .col-8 .logo {
        width: 120px;
    }

    .header_mobile .col-8 {
        text-align: center;
    }

    .header_mobile .header-right {
        text-align: right;
    }

    .header-left span i {
        font-size: 18px;
    }

    .header_mobile .col-12 {
        display: flex;
        align-items: center;
        position: relative;
    }

    .header_mobile .col-12 input {
        width: 100%;
        outline: 0;
        margin: 12px 0;
        font-size: 13px;
        padding: 8px;
        border: 1px solid #ccc;
    }

    .header_mobile .col-12 button {
        position: absolute;
        right: 10px;
    }

    .title-box .h-title {
        width: 100%;
        padding: 7px 10px;
        background: var(--blue-dark);
        border-radius: 3px;
        color: #fff;
        font-weight: bold;
        font-size: 17px;
    }

    .products .title-box {
        padding: 0;
    }

    .menu_mobile {
        display: block;

    }

    .title-box .sub-cate-title {
        display: none;
    }

    .title-box .view-all {
        display: none;
    }

    .slide-product {
        padding: 0;

    }

    .top-footer h3,
    .main-header h3 {
        font-size: 16px;
    }

    .form-contact-footer {
        width: 75%;
    }

    .form-contact-footer input {
        font-size: 13px;
    }

    .form-contact-footer a {
        padding: 10px 15px;
    }

    .showroom-table-title {
        font-size: 14px;
    }

    .policy-block {
        display: flex;
        border: 1px solid #d9d9d9;
        align-items: center;
        margin-bottom: 10px;
        padding: 13px 10px;
        border-radius: 10px;
    }

    .policy-block .policy-icon {
        padding: 10px;
        background: var(--blue-dark);
        border-radius: 50%;
        margin-right: 15px;
    }

    .policy-block .policy-icon i {
        font-size: 25px;
        color: #fff;
    }

    .policy-bottom {
        display: none;
    }

    .social-icons-mobile {
        display: block;
        padding-top: 15px;
    }

    .social-icons-mobile .title-widget {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        padding: 8px;
        background: linear-gradient(to right, #243a76, #ed1b24);
        border-radius: 5px;
    }

    .social-icons-mobile .footer-social-icons {
        padding: 30px 0;
    }

    .social-icons-mobile .footer-social-icons i {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .main-header {
        background: #fff;
    }

    .right-slide .row {
        width: 100%;
        margin: 0;
    }

    .right-slide .row .col {
        padding: 0;
        width: 100%;
    }

    .content_home {
        overflow-x: hidden;
    }

}