{% if plugin.is_building %}
{% include "sites/index.html" %}
{% else %}
{% extends "sites/theme_fhh_computer/vi/common/layout.html" %}
{%block meta_seo%}
{% include "fhh-framework/seo/include/home.html" %}
{%endblock%}
{% block content %}
<section class="content news_content">
    <div class="container">
        <div class="list-unstyled">
            <ul>
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Tin tức</a></li>
            </ul>
        </div>
        <ul class="news-menu-top">
            <li><a href="">Tin tức công nghệ</a></li>
            <li><a href="">Tin tức công nghệ</a></li>
            <li><a href="">Tin tức công nghệ</a></li>
            <li><a href="">Tin tức công nghệ</a></li>
            <li><a href="">Tin tức công nghệ</a></li>
            <li><a href="">Tin tức công nghệ</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-slide">
                        <div class="big-item">
                            <div class="img-news">
                                <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                            </div>
                            <div class="d-emtry">
                                <span class="s-review">Review sản phẩm</span>
                                <a href="">Có nên mua card trâu của giới đào coin hay không?
                                </a>
                                <span class="s-time"><i class="far fa-clock"></i> 29-09-2022, 3:22 pm</span>
                                <span class="s-comment"><i class="far fa-comment"></i> 613</span>
                                <span class="s-view"><i class="fas fa-eye"></i> 613</span>
                            </div>
                        </div>
                        <div class="small-items">
                            <div class="small-item">
                                <div class="item-news">
                                    <div class="img-news">
                                        <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                    </div>
                                    <a href="" class="p-title-news">Vì sao việc xây dựng cấu hình máy tính cân bằng lại rất quan trọng?</a>
                                </div>

                            </div>
                            <div class="small-item">
                                <div class="item-news">
                                    <div class="img-news">
                                        <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                    </div>
                                    <a href="" class="p-title-news">Vì sao việc xây dựng cấu hình máy tính cân bằng lại rất quan trọng?</a>
                                </div>
                                
                            </div>
                            <div class="small-item">
                                <div class="item-news">
                                    <div class="img-news">
                                        <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                    </div>
                                    <a href="" class="p-title-news">Vì sao việc xây dựng cấu hình máy tính cân bằng lại rất quan trọng?</a>
                                </div>
                                
                            </div>
                            <div class="small-item">
                                <div class="item-news">
                                    <div class="img-news">
                                        <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                    </div>
                                    <a href="" class="p-title-news">Vì sao việc xây dựng cấu hình máy tính cân bằng lại rất quan trọng?</a>
                                </div>
                                
                            </div>
                            <div class="small-item">
                                <div class="item-news">
                                    <div class="img-news">
                                        <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                    </div>
                                    <a href="" class="p-title-news">Vì sao việc xây dựng cấu hình máy tính cân bằng lại rất quan trọng?</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">4</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% endif %}