{% if plugin.is_building %}
{% include "sites/index.html" %}
{% else %}
{% extends "sites/theme_fhh_computer/vi/common/layout.html" %}
{%block meta_seo%}
{% include "fhh-framework/seo/include/home.html" %}
{%endblock%}
{% block content %}
<section class="content news_content">
    <div class="container">
        <div class="list-unstyled">
            <ul>
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Tin tức</a></li>
            </ul>
        </div>
        <ul class="news-menu-top">
            <li><a href="">Tin tức công nghệ</a></li>
            <li><a href="">Tin tức công nghệ</a></li>
            <li><a href="">Tin tức công nghệ</a></li>
            <li><a href="">Tin tức công nghệ</a></li>
            <li><a href="">Tin tức công nghệ</a></li>
            <li><a href="">Tin tức công nghệ</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7 col-12 pd-bot">
                    <div class="blog-slide">
                        <div class="big-item">
                            <div class="img-news">
                                <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                            </div>
                            <div class="d-emtry">
                                <span class="s-review">Review sản phẩm</span>
                                <a href="">Có nên mua card trâu của giới đào coin hay không?
                                </a>
                                <span class="s-time"><i class="far fa-clock"></i> 29-09-2022, 3:22 pm</span>
                                <span class="s-comment"><i class="far fa-comment"></i> 613</span>
                                <span class="s-view"><i class="fas fa-eye"></i> 613</span>
                            </div>
                        </div>
                        <div class="small-items">
                            <div class="small-item">
                                <div class="item-news">
                                    <div class="img-news">
                                        <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                    </div>
                                    <a href="" class="p-title-news">Vì sao việc xây dựng cấu hình máy tính cân bằng lại rất quan trọng?</a>
                                </div>
                            </div>
                            <div class="small-item">
                                <div class="item-news">
                                    <div class="img-news">
                                        <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                    </div>
                                    <a href="" class="p-title-news">Vì sao việc xây dựng cấu hình máy tính cân bằng lại rất quan trọng?</a>
                                </div>
                            </div>
                            <div class="small-item">
                                <div class="item-news">
                                    <div class="img-news">
                                        <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                    </div>
                                    <a href="" class="p-title-news">Vì sao việc xây dựng cấu hình máy tính cân bằng lại rất quan trọng?</a>
                                </div>
                            </div>
                            <div class="small-item">
                                <div class="item-news">
                                    <div class="img-news">
                                        <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                    </div>
                                    <a href="" class="p-title-news">Vì sao việc xây dựng cấu hình máy tính cân bằng lại rất quan trọng?</a>
                                </div>
                            </div>
                            <div class="small-item">
                                <div class="item-news">
                                    <div class="img-news">
                                        <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                    </div>
                                    <a href="" class="p-title-news">Vì sao việc xây dựng cấu hình máy tính cân bằng lại rất quan trọng?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 col-12 pd-bot">
                    <div class="news-block">
                        <div class="title-news">
                            BÀI VIẾT MỚI NHẤT
                        </div>
                        <div class="content-news-block">
                            <div class="content-news-item">
                                <div class="desc-news left">
                                    <a href="" class="article-title">World cup 2022 - Mãn nhãn đã tai với loa Klipsch x Máy chiếu</a>
                                    <p>Các nhà sản xuất hiện đã tung ra nhiều dòng CPU khác nhau nhằm mục đích đáp ứng tốt cho nhiều tác vụ ở từng công việc cụ thể...</p>
                                </div>
                                <a href="" class="img-news right">
                                    <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                </a>
                            </div>
                            <div class="content-news-item">
                                <div class="desc-news left">
                                    <a href="" class="article-title">World cup 2022 - Mãn nhãn đã tai với loa Klipsch x Máy chiếu</a>
                                    <p>Các nhà sản xuất hiện đã tung ra nhiều dòng CPU khác nhau nhằm mục đích đáp ứng tốt cho nhiều tác vụ ở từng công việc cụ thể...</p>
                                </div>
                                <a href="" class="img-news right">
                                    <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                </a>
                            </div>
                            <div class="content-news-item">
                                <div class="desc-news left">
                                    <a href="" class="article-title">World cup 2022 - Mãn nhãn đã tai với loa Klipsch x Máy chiếu</a>
                                    <p>Các nhà sản xuất hiện đã tung ra nhiều dòng CPU khác nhau nhằm mục đích đáp ứng tốt cho nhiều tác vụ ở từng công việc cụ thể...</p>
                                </div>
                                <a href="" class="img-news right">
                                    <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                </a>
                            </div>
                            <div class="content-news-item">
                                <div class="desc-news left">
                                    <a href="" class="article-title">World cup 2022 - Mãn nhãn đã tai với loa Klipsch x Máy chiếu</a>
                                    <p>Các nhà sản xuất hiện đã tung ra nhiều dòng CPU khác nhau nhằm mục đích đáp ứng tốt cho nhiều tác vụ ở từng công việc cụ thể...</p>
                                </div>
                                <a href="" class="img-news right">
                                    <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 pd-bot">
                    <div class="news-block">
                        <div class="title-news">
                            tin công nghệ
                        </div>
                        <div class="content-news-block">
                            <div class="content-news-item inverse">
                                <div class="desc-news left">
                                    <a href="" class="article-title">World cup 2022 - Mãn nhãn đã tai với loa Klipsch x Máy chiếu</a>
                                    <p>Các nhà sản xuất hiện đã tung ra nhiều dòng CPU khác nhau nhằm mục đích đáp ứng tốt cho nhiều tác vụ ở từng công việc cụ thể...</p>
                                </div>
                                <a href="" class="img-news right">
                                    <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                </a>
                            </div>
                            <div class="content-news-item inverse">
                                <div class="desc-news left">
                                    <a href="" class="article-title">World cup 2022 - Mãn nhãn đã tai với loa Klipsch x Máy chiếu</a>
                                    <p>Có bao giờ bạn thắc mắc PC và Laptop khác nhau như thế nào? Laptop và PC đều là máy tính. Song chúng cũng có nhiều các điểm khác biệt, qua bài viết này HACOM sẽ ...</p>
                                </div>
                                <a href="" class="img-news right">
                                    <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                </a>
                            </div>
                            <div class="content-news-item inverse">
                                <div class="desc-news left">
                                    <a href="" class="article-title">World cup 2022 - Mãn nhãn đã tai với loa Klipsch x Máy chiếu</a>
                                    <p>Các nhà sản xuất hiện đã tung ra nhiều dòng CPU khác nhau nhằm mục đích đáp ứng tốt cho nhiều tác vụ ở từng công việc cụ thể...</p>
                                </div>
                                <a href="" class="img-news right">
                                    <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                </a>
                            </div>
                            <div class="loadmore_block">
                                <a href="">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-bot">
                    <div class="news-block">
                        <div class="title-news">
                            BÀI VIẾT nổi bật
                        </div>
                        <div class="content-news-block">
                            <div class="top-list-blog">
                                <div class="top-one">
                                    <a href="" class="img-news">
                                        <img src="{{url_for('home.static_theme', filename='img/1584_pc_vs_laptop_banner.jpg')}}" alt="">
                                    </a>
                                    <div class="top-blog-item">
                                        <span class="num">01</span>
                                        <div class="right-top-list">
                                            <a href="">5 điểm mà Laptop không có cửa so với máy bàn</a>
                                            <div class="share">
                                                <a href="" class="link-active">
                                                    Chia sẽ
                                                    <i class="fas fa-share"></i>
                                                </a>
                                                <a href="" class="link-share">Tweet</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-blog-item">
                                    <div class="top-blog-item">
                                        <span class="num">02</span>
                                        <div class="right-top-list">
                                            <a href="">5 điểm mà Laptop không có cửa so với máy bàn</a>
                                            <div class="share">
                                                <a href="" class="link-active">
                                                    Chia sẽ
                                                    <i class="fas fa-share"></i>
                                                </a>
                                                <a href="" class="link-share">Tweet</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top-blog-item">
                                        <span class="num">03</span>
                                        <div class="right-top-list">
                                            <a href="">5 điểm mà Laptop không có cửa so với máy bàn</a>
                                            <div class="share">
                                                <a href="" class="link-active">
                                                    Chia sẽ
                                                    <i class="fas fa-share"></i>
                                                </a>
                                                <a href="" class="link-share">Tweet</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top-blog-item">
                                        <span class="num">04</span>
                                        <div class="right-top-list">
                                            <a href="">5 điểm mà Laptop không có cửa so với máy bàn</a>
                                            <div class="share">
                                                <a href="" class="link-active">
                                                    Chia sẽ
                                                    <i class="fas fa-share"></i>
                                                </a>
                                                <a href="" class="link-share">Tweet</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 pd-bot">
                    <div class="news-block">
                        <div class="title-news">
                            Kiến thức mua hàng
                        </div>
                        <div class="content-news-block">
                            <div class="content-news-item inverse">
                                <div class="desc-news left">
                                    <a href="" class="article-title">World cup 2022 - Mãn nhãn đã tai với loa Klipsch x Máy chiếu</a>
                                    <p>Các nhà sản xuất hiện đã tung ra nhiều dòng CPU khác nhau nhằm mục đích đáp ứng tốt cho nhiều tác vụ ở từng công việc cụ thể...</p>
                                </div>
                                <a href="" class="img-news right">
                                    <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                </a>
                            </div>
                            <div class="content-news-item inverse">
                                <div class="desc-news left">
                                    <a href="" class="article-title">World cup 2022 - Mãn nhãn đã tai với loa Klipsch x Máy chiếu</a>
                                    <p>Có bao giờ bạn thắc mắc PC và Laptop khác nhau như thế nào? Laptop và PC đều là máy tính. Song chúng cũng có nhiều các điểm khác biệt, qua bài viết này HACOM sẽ ...</p>
                                </div>
                                <a href="" class="img-news right">
                                    <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                </a>
                            </div>
                            <div class="content-news-item inverse">
                                <div class="desc-news left">
                                    <a href="" class="article-title">World cup 2022 - Mãn nhãn đã tai với loa Klipsch x Máy chiếu</a>
                                    <p>Các nhà sản xuất hiện đã tung ra nhiều dòng CPU khác nhau nhằm mục đích đáp ứng tốt cho nhiều tác vụ ở từng công việc cụ thể...</p>
                                </div>
                                <a href="" class="img-news right">
                                    <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                </a>
                            </div>
                            <div class="content-news-item inverse">
                                <div class="desc-news left">
                                    <a href="" class="article-title">World cup 2022 - Mãn nhãn đã tai với loa Klipsch x Máy chiếu</a>
                                    <p>Các nhà sản xuất hiện đã tung ra nhiều dòng CPU khác nhau nhằm mục đích đáp ứng tốt cho nhiều tác vụ ở từng công việc cụ thể...</p>
                                </div>
                                <a href="" class="img-news right">
                                    <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                </a>
                            </div>
                            <div class="content-news-item inverse">
                                <div class="desc-news left">
                                    <a href="" class="article-title">World cup 2022 - Mãn nhãn đã tai với loa Klipsch x Máy chiếu</a>
                                    <p>Các nhà sản xuất hiện đã tung ra nhiều dòng CPU khác nhau nhằm mục đích đáp ứng tốt cho nhiều tác vụ ở từng công việc cụ thể...</p>
                                </div>
                                <a href="" class="img-news right">
                                    <img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt="">
                                </a>
                            </div>
                            <div class="loadmore_block">
                                <a href="">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pd-bot">
                    <div class="news-block">
                        <div class="title-news">
                            tư vấn phần cứng
                        </div>
                        <div class="content-news-block">
                            <div class="blog-item">
                                <div class="img-news">
                                    <a href="">
                                        <img src="{{url_for('home.static_theme', filename='img/1634_manhinh_acer_vg240ys5.jpg')}}" alt="">
                                    </a>
                                </div>
                                <div class="desc-news">
                                    <a href="" class="article-title">Acer VG240YS - Màn hình Gaming giá rẻ, đa dụng</a>
                                    <p>Nếu đang loay hoay tìm cho mình màn hình đáp ứng các tiêu chí: ngon, rẻ, đẹp thì tại sao không phải là Acer VG240YS? Hãy cùng tìm hiểu vì sao nhé</p>
                                    <a href="" class="read-more">Đọc thêm</a>
                                </div>
                            </div>
                            <div class="blog-item">
                                <div class="img-news">
                                    <a href="">
                                        <img src="{{url_for('home.static_theme', filename='img/1634_manhinh_acer_vg240ys5.jpg')}}" alt="">
                                    </a>
                                </div>
                                <div class="desc-news">
                                    <a href="" class="article-title">Acer VG240YS - Màn hình Gaming giá rẻ, đa dụng</a>
                                    <p>Nếu đang loay hoay tìm cho mình màn hình đáp ứng các tiêu chí: ngon, rẻ, đẹp thì tại sao không phải là Acer VG240YS? Hãy cùng tìm hiểu vì sao nhé</p>
                                    <a href="" class="read-more">Đọc thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pd-bot list-blog-type-1">
                    <div class="news-block">
                        <div class="title-news">
                            BÀI VIẾT MỚI NHẤT
                        </div>
                        <div class="content-news-block">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="img-news">
                                        <a href="">
                                            <img src="{{url_for('home.static_theme', filename='img/1634_manhinh_acer_vg240ys5.jpg')}}" alt="">
                                        </a>
                                    </div>
                                    <div class="desc-news">
                                        <a href="">Có nên mua card trâu của giới đào coin hay không?</a>
                                        <p>Giá VGA trên thị trường hiện nay đang chạm đáy, và đây cũng là món hời của không ít anh em chờ thủ bao lâu nay. Tuy nhiên, đi kèm với đó cũng có một số ...</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="img-news">
                                        <a href="">
                                            <img src="{{url_for('home.static_theme', filename='img/1634_manhinh_acer_vg240ys5.jpg')}}" alt="">
                                        </a>
                                    </div>
                                    <div class="desc-news">
                                        <a href="">Có nên mua card trâu của giới đào coin hay không?</a>
                                        <p>Giá VGA trên thị trường hiện nay đang chạm đáy, và đây cũng là món hời của không ít anh em chờ thủ bao lâu nay. Tuy nhiên, đi kèm với đó cũng có một số ...</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="img-news">
                                        <a href="">
                                            <img src="{{url_for('home.static_theme', filename='img/1634_manhinh_acer_vg240ys5.jpg')}}" alt="">
                                        </a>
                                    </div>
                                    <div class="desc-news">
                                        <a href="">Có nên mua card trâu của giới đào coin hay không?</a>
                                        <p>Giá VGA trên thị trường hiện nay đang chạm đáy, và đây cũng là món hời của không ít anh em chờ thủ bao lâu nay. Tuy nhiên, đi kèm với đó cũng có một số ...</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% endif %}