{% if plugin.is_building %}
{% include "sites/index.html" %}
{% else %}
{% extends "sites/theme_fhh_computer/vi/common/layout.html" %}
{%block meta_seo%}
{% include "fhh-framework/seo/include/home.html" %}
{%endblock%}
{% block content %}
<section class="content content-detail-product">
    <div class="container">
        <div class="list-unstyled">
            <ul>
                <li><a href="">Trang chủ</a></li>
                <li><a href="">PC Đồ Họa, Render, Máy Chủ</a></li>
                <li><a href="">PC Đồ Họa, Render HACOM</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="row product-detail-top">
                <div class="product_name-detail">PC Asus ROG Strix G35DX (R7-5800X/16GB RAM/1TB SSD/RTX3070 8GB/WL+BT/Win 11) (G35DX-VN003W)</div>
                <div class="col-md-4">
                    <div class="detail-img">
                        <div class="slide-img">
                            <div class="img-item">
                                <img src="{{url_for('home.static_theme', filename='img/65240_65240_pc_hacom_designer_d055_850x850_1.jpg')}}" alt="">
                            </div>
                        </div>
                    </div>
                    <ul class="img-gally">
                        <li>
                            <div class="img-item">
                                <img src="{{url_for('home.static_theme', filename='img/65240_65240_pc_hacom_designer_d055_850x850_1.jpg')}}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img-item">
                                <img src="{{url_for('home.static_theme', filename='img/120_65240_pc_hacom__designer__d055_01.jpg')}}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img-item">
                                <img src="{{url_for('home.static_theme', filename='img/120_65240_pc_hacom__designer__d055_02.jpg')}}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img-item">
                                <img src="{{url_for('home.static_theme', filename='img/120_65240_pc_hacom__designer__d055_03.jpg')}}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img-item">
                                <img src="{{url_for('home.static_theme', filename='img/120_65240_pc_hacom__designer__d055_03.jpg')}}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="product-info-top">
                    </div>
                    <div class="product_detail-meta">
                        <span>Mã SP: <a href=""> PCAS213 </a></span>
                        <span>Đánh giá:
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <a href="">0</a></span>
                        <span>Bình luận: <a href="">0</a></span>
                        <span>Lượt xem: <a href="">12345</a></span>
                    </div>
                    <p>Thông tin sản phẩm</p>
                    <ul class="product-summary-item-ul">
                        <li>CPU: AMD Ryzen 7 5800X</li>
                        <li>RAM: 16GB</li>
                        <li>Ổ cứng: 1 TB SSD</li>
                        <li>VGA: RTX 3070</li>
                        <li>Bluetooth: Có</li>
                        <li>Wifi: Có</li>
                    </ul>
                    <div class="price-detai">
                        <span class="min-price">47.499.000₫</span>
                        <span class="max-price">51.999.000₫</span>
                        <span class="save">Tiết kiệm 4.500.000₫</span>
                        <div class="product-summary-item">
                            <span class="ribbon-item">
                                Giá đã có VAT
                            </span>
                            <span class="ribbon-item">Bảo hành 24 Tháng</span>
                        </div>
                    </div>
                    <div class="square-trade">
                        <div class="ribbon-title"><i class="fa-solid fa-gift"></i>Quà tặng và ưu đãi kèm theo</div>
                        <p><strong>Miễn phí giao hàng toàn quốc</strong>(Trừ ghế, bàn, màn chiếu). Chi tiết xem <a href="">tại đây</a></p>
                    </div>
                    <div class="box-number-qty-detail">
                        <span>Số lượng: </span>
                        <span class="new-cart-quantity">
                            <span class="dele quantity-change">–</span>
                            <input type="text" value="1">
                            <span class="add quantity-change">+</span></span>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i> Thêm vào giỏ hàng</a>
                        <span class="like-product" title="Thích sản phẩm này"><i class="fa-solid fa-heart"></i></span>
                    </div>
                    <div class="button-buy">
                        <a href="" class="buy-now"><span>Đặt mua ngay</span> Giao hàng tận nơi nhanh chóng
                        </a>
                        <a href="" class="installment"><span>TRẢ GÓP QUA THẺ VISA, MASTER,...</span>Chỉ từ 3.958.250₫/ tháng (12 tháng)
                        </a>
                        <a href="" class="installment"><span>TRẢ GÓP HỒ SƠ DUYỆT 15 PHÚT</span> Chỉ từ 7.916.500₫/ tháng (6 tháng)
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-detail-static-content">
                        <div class="static-item">
                            <div class="title-gradient">Có <span>1</span> cửa hàng có sẵn sản phẩm này</div>
                            <div class="static-content">
                                <select>
                                    <option value="volvo" selected>Tỉnh/Thành</option>
                                    <option value="saab">Saab</option>
                                    <option value="vw">VW</option>
                                    <option value="audi">Audi</option>
                                </select>
                                <select>
                                    <option value="volvo" selected>Quận/Huyện</option>
                                    <option value="saab">Saab</option>
                                    <option value="vw">VW</option>
                                    <option value="audi">Audi</option>
                                </select>
                                <div class="store-list">
                                    <div class="store-list-item">
                                        <a href="" title="79 Nguyễn Văn Huyên - Cầu Giấy - Hà Nội"><span><i class="fa-solid fa-phone"></i> (024)38510088</span> • 79 Nguyễn Văn Huyên - Cầu Giấy - Hà Nội</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="static-item">
                            <div class="title-gradient">YÊN TÂM MUA HÀNG</div>
                            <div class="static-content">
                                <ul>
                                    <li><span>Uy tín 20 năm xây dựng và phát triển</span></li>
                                    <li><a href="">Sản phẩm chính hãng 100%</a></li>
                                    <li><a href="">Trả góp lãi suất 0% toàn bộ giỏ hàng</a></li>
                                    <li><a href="">Bảo hành tận nơi cho doanh nghiệp</a></li>
                                    <li><a href="">Vệ sinh miễn phí trọn đời PC, Laptop</a></li>
                                    <li><a href="">Miễn phí quẹt thẻ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="static-item">
                            <div class="title-gradient">MIỄN PHÍ GIAO HÀNG</div>
                            <div class="static-content">
                                <ul>
                                    <li><span>Giao hàng 2h – HACOM Faster</span></li>
                                    <li><a href="">Giao hàng miễn phí toàn quốc</a></li>
                                    <li><a href="">Nhận hàng và thanh toán tại nhà (ship COD)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-detail-bottom">
                <div class=" left-col col-row">
                    <div class="content-detail-tab">
                        <div class="spct-title">Đánh giá PC Asus ROG Strix G35DX (R7-5800X/16GB RAM/1TB SSD/RTX3070 8GB/WL+BT/Win 11)</div>
                        <div class="product-desc">
                            <div class="collapse" id="productDetailDesc">
                                <div class="card card-body">
                                    <p>
                                        SUS ROG Strix GA35 G35DK là cỗ máy gaming sinh ra "dành cho nhà vô địch". Máy được trang bị phần cứng mạnh mẽ hàng đầu như CPU AMD Ryzen 5800X, GPU NVIDIA GeForce RTX3070, hệ thống tản nhiệt nước cùng bộ case ROG độc quyền, đem đến cho game thủ cỗ máy chiến game đẳng cấp thu hút mọi ánh nhìn.
                                    </p>
                                    <img src="{{url_for('home.static_theme', filename='img/pc_rog_ga35g35dx5.jpg')}}" alt="">
                                </div>
                            </div>
                            <div class="bg-op">
                                <a class="btn" data-bs-toggle="collapse" href="#productDetailDesc" role="button" aria-expanded="false" aria-controls="productDetailDesc">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content-detail-tab">
                        <div class="spct-title">Video</div>
                        <div class="product-desc">1</div>
                    </div>
                    <div class="content-detail-tab">
                        <div class="spct-title">Khách hàng chấm điểm, đánh giá, nhận xét</div>
                        <div class="product-desc comments-product">
                            <div class="review-block">
                                <div class="review-info">
                                    <div class="rate">
                                        <span>5/5</span>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="rate-count">
                                        <div class="rate-item">
                                            <div class="rate-number">5 <i class="fas fa-star"></i></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="total-rate">4 đánh giá</div>
                                        </div>
                                        <div class="rate-item">
                                            <div class="rate-number">4 <i class="fas fa-star"></i></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
                                            </div>
                                            <div class="total-rate">0 đánh giá</div>
                                        </div>
                                        <div class="rate-item">
                                            <div class="rate-number">3 <i class="fas fa-star"></i></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
                                            </div>
                                            <div class="total-rate">0 đánh giá</div>
                                        </div>
                                        <div class="rate-item">
                                            <div class="rate-number">2 <i class="fas fa-star"></i></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
                                            </div>
                                            <div class="total-rate">0 đánh giá</div>
                                        </div>
                                        <div class="rate-item">
                                            <div class="rate-number">1 <i class="fas fa-star"></i></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
                                            </div>
                                            <div class="total-rate">0 đánh giá</div>
                                        </div>
                                    </div>
                                    <div class="button-review">
                                        <span class="title-review">Chia sẻ nhận xét về sản phẩm</span>
                                        <div class="btn btn-review">Gửi đánh giá của bạn</div>
                                    </div>
                                </div>
                                <form class="form-review">
                                    <span class="title-rating">Chọn đánh giá của bạn: </span>
                                    <div class="rating-coment">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="star-tip">Rất hài lòng</span>
                                    <div class="review-box">
                                        <div class="review-left">
                                            <textarea placeholder="Nhập đánh giá về sản phẩm (tối thiểu 80 ký tự)" id="" name=""></textarea>
                                            <div class="img-upload">
                                                <a href=""><i class="fas fa-camera"></i>Đính kèm ảnh</a>
                                            </div>
                                        </div>
                                        <div class="review-right">
                                            <input type="text" name="" placeholder="Họ Tên">
                                            <input type="text" name="" placeholder="Số điện thoại">
                                            <input type="text" name="" placeholder="Email">
                                            <button class="btn btn-review">GỬI ĐÁNH GIÁ</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="list-review">
                                    <div class="list-review-item">
                                        <div class="username">
                                            Văn Tư
                                        </div>
                                        <div class="list-review-content">
                                            <span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            Giá cả cùng cấu hình hợp lý Giá cả cùng cấu hình hợp lý Giá cả cùng cấu hình hợp lý Giá cả cùng cấu hình hợp lý Giá cả cùng cấu hình hợp lý Giá cả cùng cấu hình hợp lý Giá cả cùng cấu hình hợp lý Giá cả cùng cấu hình hợp lý Giá cả cùng cấu hình hợp lý
                                        </div>
                                        <div class="comment-time">27/9/2022 14:30</div>
                                    </div>
                                    <div class="list-review-item">
                                        <div class="username">
                                            Văn Tư
                                        </div>
                                        <div class="list-review-content">
                                            <span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            Giá cả cùng cấu hình hợp lý
                                        </div>
                                        <div class="comment-time">27/9/2022 14:30</div>
                                        <div class="reply-comment-list">
                                            <div class="reply-comment-content">
                                                <div class="mini-content">
                                                    <div class="p-name">HACOM</div>
                                                    <div class="p-content">Dạ hiện case này không có hàng tại cơ sở hà nam anh nhé</div>
                                                    <div class="p-time">13/10/2022 16:45</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-block">
                                <div class="box-comment">
                                    <textarea placeholder="Mời bạn để lại bình luận..."></textarea>
                                    <div class="img-upload">
                                        <a href=""><i class="fas fa-camera"></i> Gửi ảnh</a>
                                        <a href="" class="static-link">Quy trình đăng bình luận</a>
                                        <a href="" class="btn-comment btn btn-blue">Gửi bình luận</a>
                                    </div>
                                </div>
                                <div class="list-comment">
                                    <div class="list-coment-item">
                                        <div class="user-info">
                                            <div class="first-letter">A</div>
                                            <div class="username">Anh Trường đẹp trai</div>
                                            <div class="coment-time">13/10/2022 15:27</div>
                                        </div>
                                        <div class="information">
                                            <div class="comment-content">Cho em hỏi case này có ở cở sở Hà nam ko ạ?</div>
                                            <div class="reply-comment-actions">
                                                Trả lời
                                            </div>
                                            <div class="reply-comment-list">
                                                <div class="reply-comment-content">
                                                    <div class="avt">
                                                        <img src="{{url_for('home.static_theme', filename='img/hacom_40x.png')}}" alt="">
                                                    </div>
                                                    <div class="mini-content">
                                                        <div class="p-name">HACOM</div>
                                                        <div class="p-content">Dạ hiện case này không có hàng tại cơ sở hà nam anh nhé</div>
                                                        <div class="p-time">13/10/2022 16:45</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-comment">
                                                <textarea placeholder="Mời bạn để lại bình luận..."></textarea>
                                                <div class="img-upload">
                                                    <a href=""><i class="fas fa-camera"></i> Gửi ảnh</a>
                                                    <a href="" class="static-link">Quy trình đăng bình luận</a>
                                                    <a href="" class="btn-comment btn btn-blue">Gửi bình luận</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-coment-item">
                                        <div class="user-info">
                                            <div class="first-letter">A</div>
                                            <div class="username">Anh Trường đẹp trai</div>
                                            <div class="coment-time">13/10/2022 15:27</div>
                                        </div>
                                        <div class="information">
                                            <div class="comment-content">Cho em hỏi case này có ở cở sở Hà nam ko ạ?</div>
                                            <div class="reply-comment-actions">
                                                Trả lời
                                            </div>
                                            <div class="reply-comment-list">
                                                <div class="reply-comment-content">
                                                    <div class="avt">
                                                        <img src="{{url_for('home.static_theme', filename='img/hacom_40x.png')}}" alt="">
                                                    </div>
                                                    <div class="mini-content">
                                                        <div class="p-name">HACOM</div>
                                                        <div class="p-content">Dạ hiện case này không có hàng tại cơ sở hà nam anh nhé</div>
                                                        <div class="p-time">13/10/2022 16:45</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-comment">
                                                <textarea placeholder="Mời bạn để lại bình luận..."></textarea>
                                                <div class="img-upload">
                                                    <a href=""><i class="fas fa-camera"></i> Gửi ảnh</a>
                                                    <a href="" class="static-link">Quy trình đăng bình luận</a>
                                                    <a href="" class="btn-comment btn btn-blue">Gửi bình luận</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="read-more"><a href="" class="btn btn-blue ">Xem thêm bình luận</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-col col-row">
                    <div class="content-detail-tab">
                        <div class="spct-title">Thông số kỹ thuật</div>
                        <div class="product-desc">2</div>
                    </div>
                    <div class="content-detail-tab">
                        <div class="spct-title">Tin tức mới nhất</div>
                        <div class="product-desc">
                            <div class="related-news">
                                <div class="related-news-item">
                                    <div class="img-product">
                                        <a href=""><img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt=""></a>
                                    </div>
                                    <div class="news-desc-block">
                                        <a href="" class="title-news">
                                            CÓ NÊN MUA CARD TRÂU CỦA GIỚI ĐÀO COIN HAY KHÔNG?
                                        </a>
                                        <p class="news-desc">
                                            Giá VGA trên thị trường hiện nay đang chạm đáy, và đây cũng là món hời của không ít anh em chờ thủ bao lâu nay. Tuy nhiên, đi kèm với đó cũng có một số rủi ro nhất định !
                                        </p>
                                    </div>
                                </div>
                                <div class="related-news-item">
                                    <div class="img-product">
                                        <a href=""><img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt=""></a>
                                    </div>
                                    <div class="news-desc-block">
                                        <a href="" class="title-news">
                                            CÓ NÊN MUA CARD TRÂU CỦA GIỚI ĐÀO COIN HAY KHÔNG?
                                        </a>
                                        <p class="news-desc">
                                            Giá VGA trên thị trường hiện nay đang chạm đáy, và đây cũng là món hời của không ít anh em chờ thủ bao lâu nay. Tuy nhiên, đi kèm với đó cũng có một số rủi ro nhất định !
                                        </p>
                                    </div>
                                </div>
                                <div class="related-news-item">
                                    <div class="img-product">
                                        <a href=""><img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt=""></a>
                                    </div>
                                    <div class="news-desc-block">
                                        <a href="" class="title-news">
                                            CÓ NÊN MUA CARD TRÂU CỦA GIỚI ĐÀO COIN HAY KHÔNG?
                                        </a>
                                        <p class="news-desc">
                                            Giá VGA trên thị trường hiện nay đang chạm đáy, và đây cũng là món hời của không ít anh em chờ thủ bao lâu nay. Tuy nhiên, đi kèm với đó cũng có một số rủi ro nhất định !
                                        </p>
                                    </div>
                                </div>
                                <div class="related-news-item">
                                    <div class="img-product">
                                        <a href=""><img src="{{url_for('home.static_theme', filename='img/1612_z3759955075293_d496ca1a98ab5c49610cc1d285612a4a.jpg')}}" alt=""></a>
                                    </div>
                                    <div class="news-desc-block">
                                        <a href="" class="title-news">
                                            CÓ NÊN MUA CARD TRÂU CỦA GIỚI ĐÀO COIN HAY KHÔNG?
                                        </a>
                                        <p class="news-desc">
                                            Giá VGA trên thị trường hiện nay đang chạm đáy, và đây cũng là món hời của không ít anh em chờ thủ bao lâu nay. Tuy nhiên, đi kèm với đó cũng có một số rủi ro nhất định !
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="related-products-block">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="related-products-tab" data-bs-toggle="tab" data-bs-target="#related-products" type="button" role="tab" aria-controls="related-products" aria-selected="true">Sản phẩm tương tự</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="viewed-products-tab" data-bs-toggle="tab" data-bs-target="#viewed-products" type="button" role="tab" aria-controls="viewed-products" aria-selected="false">Sản phẩm đã xem</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="related-products" role="tabpanel" aria-labelledby="related-products-tab">
                        <div class="related-products-slide">
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="viewed-products" role="tabpanel" aria-labelledby="viewed-products-tab">
                        <div class="viewed-products-slide">
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas 
                                            rt-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="item-product">
                                <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                <div class="desc-product">
                                    <div class="d-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            (5)
                                        </div>
                                        <div class="sku">Mã: PHCGM537</div>
                                    </div>
                                    <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                    <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                    <div class="min-price">
                                        13.899.000₫
                                    </div>
                                    <div class="action d-flex">
                                        <span><i class="fas fa-check"></i> Còn hàng</span>
                                        <a href=""><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
{% endif %}