{% if plugin.is_building %}
{% include "sites/index.html" %}
{% else %}
{% extends "sites/theme_fhh_computer/vi/common/layout.html" %}
{%block meta_seo%}
{% include "fhh-framework/seo/include/home.html" %}
{%endblock%}
{% block content %}
<section class="product-page content">
    <div class="container">
        <div class="list-unstyled">
            <ul>
                <li><a href="">Trang chủ</a></li>
            </ul>
            <div class="total-product"> (Tổng 13151 sản phẩm)</div>
        </div>
        <ul class="search-menu-top">
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
        </ul>
        <div class="banner-product">
            <div class="banner-item">
                <a href=""><img src="{{url_for('home.static_theme', filename='img/01_Jul9bf8252a2264102f94be60509fc86d12.png')}}" alt=""></a>
            </div>
            <div class="banner-item">
                <a href=""><img src="{{url_for('home.static_theme', filename='img/01_Jul9bf8252a2264102f94be60509fc86d12.png')}}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="content_product-page">
        <div class="container">
            <div class="main-content-product">
                <div class="col-md-2 left-content-product">
                    <div class="cate-left">
                        <div class="title">Lọc sản phẩm</div>
                    </div>
                    <div class="filter-item">
                        <div class="title-item">Danh Mục</div>
                    </div>
                    <div class="filter-item">
                        <div class="title-item">HÃNG SẢN XUẤT</div>
                        <ul class="list-brand-check">
                            <li>
                                <label>
                                    <i class="fas fa-check-square"></i>
                                    <!-- <i class="far fa-square"></i> -->
                                    <a href="">acer</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">COLORFUL</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">acer</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">acer</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <!-- <i class="fas fa-check-square"></i> -->
                                    <i class="far fa-square"></i>
                                    <a href="">acer</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">COLORFUL</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">acer</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">acer</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10 right-content-product">
                    <div class="cate-product-list">
                        <div class="cate-prod-top">
                            <div class="sort-zone">
                                <select class="horizontal-filter">
                                    <option value="volvo" selected>Tình trạng kho hàng</option>
                                    <option value="saab">Còn hàng</option>
                                </select>
                                <select class="horizontal-filter">
                                    <option value="volvo" selected>Tất cả kho</option>
                                    <option value="saab">131 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</option>
                                    <option value="vw">131 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</option>
                                    <option value="audi">131 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</option>
                                </select>
                                <div class="horizontal-price-filter">
                                    Lọc theo giá tiền:
                                    <div class="min-filter">
                                        <input type="text" value="0">
                                        <label>đ</label>
                                    </div>
                                    <div class="max-filter">
                                        <input type="text" name="" value="0">
                                        <label>đ</label>
                                    </div>
                                    <span class="btn btn-blue-dark">Lọc</span>
                                </div>
                            </div>
                            <div class="new-sort-zone">
                                <div class="n-filter">
                                    <a href="">Hàng mới</a>
                                    <a href="">Hàng xem nhiều</a>
                                    <a href="">Giá Tăng Dần</a>
                                    <a href="">Giá Giảm Nhiều</a>
                                    <a href="">Giá Giảm Dần</a>
                                </div>
                                <select class="sort-select">
                                    <option value="volvo" selected>Lọc sản phẩm</option>
                                    <option value="saab">Đánh giá</option>
                                    <option value="vw">A->Z</option>
                                </select>
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center product">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!--  -->
                            <div class="sort-zone-mb">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="sort-item-1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Tất cả kho
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="sort-item-1">
                                        <li><a class="dropdown-item" href="#">131 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</a></li>
                                        <li><a class="dropdown-item" href="#">132 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</a></li>
                                        <li><a class="dropdown-item" href="#">133 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="sort-item-1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Tình trạng kho hàng
                                    </button>
                                    <ul class="dropdown-menu dropdown-mega" aria-labelledby="sort-item-1">
                                        <li><a class="dropdown-item" href="#">131 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</a></li>
                                        <li><a class="dropdown-item" href="#">131 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</a></li>
                                        <li><a class="dropdown-item" href="#">132 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</a></li>
                                        <li><a class="dropdown-item" href="#">133 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội Thanh Nghị - Hai Bà Trưng - Hà Nội</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="sort-item-1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Hãng sản xuất
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="sort-item-1">
                                        <li><a class="dropdown-item" href="#">CORSAIR</a></li>
                                        <li><a class="dropdown-item" href="#">CORSAIR</a></li>
                                        <li><a class="dropdown-item" href="#">CORSAIR</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="sort-item-1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Thứ tự sản phẩm
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="sort-item-1">
                                        <li><a class="dropdown-item" href="#">Mới nhất</a></li>
                                        <li><a class="dropdown-item" href="#">Giá tăng dần</a></li>
                                        <li><a class="dropdown-item" href="#">Giá giảm dần</a></li>
                                        <li><a class="dropdown-item" href="#">Lượt xem</a></li>
                                        <li><a class="dropdown-item" href="#">Đánh giá</a></li>
                                        <li><a class="dropdown-item" href="#">Từ A->Z</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row w-mb">
                            <div class="col-md-3 col-6">
                                <div class="item-product">
                                    <span class="hot-product"></span>
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span class="contact-pro"><i class="fas fa-phone"></i> Liên hệ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span><i class="fas fa-check"></i> Còn hàng</span>
                                            <a href=""><i class="fas fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span><i class="fas fa-check"></i> Còn hàng</span>
                                            <a href=""><i class="fas fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span><i class="fas fa-check"></i> Còn hàng</span>
                                            <a href=""><i class="fas fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span class="contact-pro"><i class="fas fa-phone"></i> Liên hệ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span><i class="fas fa-check"></i> Còn hàng</span>
                                            <a href=""><i class="fas fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span><i class="fas fa-check"></i> Còn hàng</span>
                                            <a href=""><i class="fas fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span><i class="fas fa-check"></i> Còn hàng</span>
                                            <a href=""><i class="fas fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-right product">
                                    <!-- <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                        </li> -->
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
{% endblock %}
{% endif %}