{% if plugin.is_building %}
{% include "sites/index.html" %}
{% else %}
{% extends "sites/theme_fhh_computer/vi/common/layout.html" %}
{%block meta_seo%}
{% include "fhh-framework/seo/include/home.html" %}
{%endblock%}

{% block content %}
<section class="new-product_content">
    <section class="banner-video ratio ratio-1x1 ratio-21x9">
        <video width="100%" loop autoplay muted id="banner-video">
            <source src="{{url_for('home.static_theme', filename='img/1551144022553137152.mp4')}}" type="video/mp4">
        </video>
        <div class="btn-click-video pause-video"></div>
    </section>
    <section class="product-collection">
        <div class="title-collection container container-md">
            <img src="{{url_for('home.static_theme', filename='img/1551397568108302336.svg')}}" alt="">
            <p>
                Chúng tôi quyết định cải tiến Polomanor lên một vị thế cao hơn trong thị trường Polo, vẫn giữ trọn vẹn những giá trị cốt lõi và đồng thời phát triển thêm về công nghệ cũng như mẫu mã sản phẩm riêng biệt.
            </p>
        </div>
        <div class="container container-md">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                        <a href="" class="icon-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- click -->
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </a>
                        <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                    </div>
                    <div class="descriptions-product">
                        <div class="new">New</div>
                        <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                        <div class="product-price">320.000đ</div>
                        <div class="product-color">
                            <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                        <a href="" class="icon-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- click -->
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </a>
                        <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                    </div>
                    <div class="descriptions-product">
                        <div class="new">New</div>
                        <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                        <div class="product-price">320.000đ</div>
                        <div class="product-color">
                            <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                        <a href="" class="icon-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- click -->
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </a>
                        <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                    </div>
                    <div class="descriptions-product">
                        <div class="new">New</div>
                        <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                        <div class="product-price">320.000đ</div>
                        <div class="product-color">
                            <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                        <a href="" class="icon-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- click -->
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </a>
                        <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                    </div>
                    <div class="descriptions-product">
                        <div class="new">New</div>
                        <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                        <div class="product-price">320.000đ</div>
                        <div class="product-color">
                            <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                        <a href="" class="icon-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- click -->
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </a>
                        <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                    </div>
                    <div class="descriptions-product">
                        <div class="new">New</div>
                        <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                        <div class="product-price">320.000đ</div>
                        <div class="product-color">
                            <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                        <a href="" class="icon-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- click -->
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </a>
                        <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                    </div>
                    <div class="descriptions-product">
                        <div class="new">New</div>
                        <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                        <div class="product-price">320.000đ</div>
                        <div class="product-color">
                            <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                        <a href="" class="icon-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- click -->
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </a>
                        <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                    </div>
                    <div class="descriptions-product">
                        <div class="new">New</div>
                        <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                        <div class="product-price">320.000đ</div>
                        <div class="product-color">
                            <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="img-product">
                        <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                        <a href="" class="icon-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- click -->
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </a>
                        <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                    </div>
                    <div class="descriptions-product">
                        <div class="new">New</div>
                        <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                        <div class="product-price">320.000đ</div>
                        <div class="product-color">
                            <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="see-more">
                    <a href="" class="btn-see-more">
                        Xem thêm (1)
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="product-block product-general-block">
        <div class="bg-content" style="background-image: url(/assets/img/chat-lieu-moi1551509260947427328.jpeg);">
        </div>
        <div class="content-block content-product-general">
            <div class="container container-md">
                <div class="general-head-block">
                    <div class="left-content-product">
                        <img src="{{url_for('home.static_theme', filename='img/1551467280729116672.jpg')}}" alt="">
                    </div>
                    <div class="right-content-product cennter">
                        <div class="content-product-head">
                            <h1>Chất liệu mới</h1>
                            <p>Không ngừng cập nhật chất liệu mới nhằm đem đến trải nghiệm thú vị cho bạn, lần lượt các tên gọi CMC, Uni và Cosi với tính năng co giãn và thoáng mát vượt trội xứng đáng để chúng tôi lựa chọn cho lần cải tiến này.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product">
                            <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <div class="comming-soon"></div>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="see-more">
                        <a href="" class="btn-see-more">
                            Xem thêm (1)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product-block product-general-block">
        <div class="bg-content" style="background-image: url(/assets/img/form-dang-moi1551511118805995520.jpeg);">
        </div>
        <div class="content-block content-product-general">
            <div class="container container-md">
                <div class="general-head-block reverse">
                    <div class="left-content-product cennter">
                        <div class="content-product-head">
                            <h1>FORM DÁNG MỚI</h1>
                            <p>Không ngừng cập nhật chất liệu mới nhằm đem đến trải nghiệm thú vị cho bạn, lần lượt các tên gọi CMC, Uni và Cosi với tính năng co giãn và thoáng mát vượt trội xứng đáng để chúng tôi lựa chọn cho lần cải tiến này.</p>
                        </div>
                    </div>
                    <div class="right-content-product">
                        <img src="{{url_for('home.static_theme', filename='img/1552300875152625664.jpg')}}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product"> <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-product">
                            <a href=""> <img src="/assets/img/1552489855080992768_polomanor_ao-polo_xanh_model-2.jpeg" alt="" class="main-img"> </a>
                            <div class="comming-soon"></div>
                            <a href="" class="icon-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- click -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </a>
                            <a href="" class="icon-cart-product"> <img src="/assets/img/cart.svg" alt=""></a>
                        </div>
                        <div class="descriptions-product">
                            <div class="new">New</div>
                            <a href="" class="product-name">Áo Polo Nam Basic Chất Vải CMC Màu Nâu Form Regular Fit</a>
                            <div class="product-price">320.000đ</div>
                            <div class="product-color">
                                <div class="color-item" style="background-image: url(/assets/img/den_1473131143975931904.png);"></div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="see-more">
                        <a href="" class="btn-see-more">
                            Xem thêm (1)
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
{% endif %}