{% if plugin.is_building %}
{% include "sites/index.html" %}
{% else %}
{% extends "sites/theme_fhh_computer/vi/common/layout.html" %}
{%block meta_seo%}
{% include "fhh-framework/seo/include/home.html" %}
{%endblock%}
{% block content %}
<section class="content search-page">
    <div class="container">
        <div class="list-unstyled">
            <ul>
                <li><a href="">Trang chủ</a></li>
            </ul>
            <div class="total-product"><span class="current-cate-text">TÌM KIẾM : LAPTOP GAMING </span> <span>(Tổng 13151 sản phẩm)</span></div>
        </div>
        <ul class="search-menu-top">
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
            <li><a href=""> Laptop, Tablet, Mobile </a></li>
        </ul>
    </div>
    <div class="content_product-page">
        <div class="container">
            <div class="main-content-product">
                <div class="col-md-2 left-content-product">
                    <div class="cate-left">
                        <div class="title">Lọc sản phẩm</div>
                    </div>
                    <div class="filter-item">
                        <div class="title-item">DANH MỤC TÌM THẤY</div>
                        <ul class="list-brand-check w-100 cate-filter">
                            <li><a href=""><i class="fas fa-angle-double-right"></i> <span> Microsoft Surface</span></a></li>
                            <li><a href=""><i class="fas fa-angle-double-right"></i> <span>Laptop nhỏ gọn, mỏng nhẹ</span></a></li>
                            <li><a href=""><i class="fas fa-angle-double-right"></i> <span>Laptop Asus</span></a></li>
                            <li><a href=""><i class="fas fa-angle-double-right"></i> <span>Laptop Dell</span></a></li>
                            <li><a href=""><i class="fas fa-angle-double-right"></i> <span> Laptop MSI</span></a></li>
                        </ul>
                    </div>
                    <div class="filter-item">
                        <div class="title-item">HÃNG SẢN XUẤT</div>
                        <ul class="list-brand-check">
                            <li>
                                <label>
                                    <i class="fas fa-check-square"></i>
                                    <!-- <i class="far fa-square"></i> -->
                                    <a href="">acer</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">COLORFUL</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">acer</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">acer</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <!-- <i class="fas fa-check-square"></i> -->
                                    <i class="far fa-square"></i>
                                    <a href="">acer</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">COLORFUL</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">acer</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">acer</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-item">
                        <div class="title-item">KHOẢN GIÁ</div>
                        <ul class="list-brand-check w-100 slide-range">
                            <li>
                                <label>
                                    <!-- <i class="fas fa-check-square"></i> -->
                                    <i class="far fa-square"></i>
                                    <a href="">Dưới 10 triệu</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">10 triệu - 15 triệu</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">10 triệu - 15 triệu</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">10 triệu - 15 triệu</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <!-- <i class="fas fa-check-square"></i> -->
                                    <i class="far fa-square"></i>
                                    <a href="">10 triệu - 15 triệu</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">10 triệu - 15 triệu</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">10 triệu - 15 triệu</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="far fa-square"></i>
                                    <a href="">10 triệu - 15 triệu</a>
                                    <span class="product-qty">(126)</span>
                                </label>
                            </li>
                            <div class="multi-range">
                                <input type="range" min="0" max="50" value="0" id="lower" class="range-input">
                                <input type="range" min="0" max="50" value="50" id="upper" class="range-input">
                            </div>
                            <div class="filter-price-box">
                                <div class="min-filter">
                                    <input type="text" value="599.000">
                                    <span class="p-ab">₫</span>
                                </div>
                                <div class="max-filter">
                                    <input type="text" name="" value="151.499.000">
                                    <span class="p-ab">₫</span>
                                </div>
                                <span class="btn btn-blue-dark">Lọc</span>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10 right-content-product">
                    <div class="cate-product-list">
                        <div class="cate-prod-top">
                            <div class="sort-zone">
                                <div class="select-filter">
                                    <select class="horizontal-filter">
                                        <option value="volvo" selected>Tình trạng kho hàng</option>
                                        <option value="saab">Còn hàng</option>
                                    </select>
                                    <select class="horizontal-filter">
                                        <option value="volvo" selected>Tất cả kho</option>
                                        <option value="saab">131 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</option>
                                        <option value="vw">131 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</option>
                                        <option value="audi">131 Lê Thanh Nghị - Hai Bà Trưng - Hà Nội</option>
                                    </select>
                                    <select class="horizontal-filter">
                                        <option value="volvo" selected>Sắp xếp theo</option>
                                        <option value="saab">Mới nhất</option>
                                        <option value="saab">Giá tăng dần</option>
                                        <option value="saab">Giá giảm dần</option>
                                        <option value="saab">Lượt xem</option>
                                        <option value="saab">Đánh giá</option>
                                        <option value="saab">Từ A->Z</option>
                                    </select>
                                    <select class="horizontal-filter mb">
                                        <option value="volvo" selected>Khoản giá</option>
                                        <option value="saab">Dưới 1 triệu</option>
                                        <option value="saab">1 triệu - 4 triệu</option>
                                        <option value="saab">4 triệu - 10 triệu</option>
                                        <option value="saab">10 triệu - 20 triệu</option>
                                        <option value="saab">Trên 20 triệu</option>
                                    </select>
                                    <select class="horizontal-filter mb">
                                        <option value="volvo" selected>Hãng sản xuất</option>
                                        <option value="saab">Dưới 1 triệu</option>
                                        <option value="saab">1 triệu - 4 triệu</option>
                                        <option value="saab">4 triệu - 10 triệu</option>
                                        <option value="saab">10 triệu - 20 triệu</option>
                                        <option value="saab">Trên 20 triệu</option>
                                    </select>
                                </div>
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-right product">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="row w-mb">
                            <div class="col-md-3 col-6 col-sm-4">
                                <div class="item-product">
                                    <span class="hot-product"></span>
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span class="contact-pro"><i class="fas fa-phone"></i> Liên hệ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 col-sm-4">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span><i class="fas fa-check"></i> Còn hàng</span>
                                            <a href=""><i class="fas fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 col-sm-4">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span><i class="fas fa-check"></i> Còn hàng</span>
                                            <a href=""><i class="fas fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 col-sm-4">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span><i class="fas fa-check"></i> Còn hàng</span>
                                            <a href=""><i class="fas fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 col-sm-4">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span class="contact-pro"><i class="fas fa-phone"></i> Liên hệ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 col-sm-4">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span><i class="fas fa-check"></i> Còn hàng</span>
                                            <a href=""><i class="fas fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 col-sm-4">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span><i class="fas fa-check"></i> Còn hàng</span>
                                            <a href=""><i class="fas fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 col-sm-4">
                                <div class="item-product">
                                    <a href="" class="img-product"><img src="{{url_for('home.static_theme', filename='img/250_67190_demo_pcgm521_v3.jpg')}}" alt=""></a>
                                    <div class="desc-product">
                                        <div class="d-flex">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                (5)
                                            </div>
                                            <div class="sku">Mã: PHCGM537</div>
                                        </div>
                                        <a href="" class="product-name">PC GAMING HACOM TIGER T03 (i3 12100F/H610/8GB RAM/250GB SSD/GTX 1660S/550W)</a>
                                        <p class="max-price"><span>23.000.000₫</span> <span class="discount">(Tiết kiệm: 15%)</span></p>
                                        <div class="min-price">
                                            13.899.000₫
                                        </div>
                                        <div class="action d-flex">
                                            <span><i class="fas fa-check"></i> Còn hàng</span>
                                            <a href=""><i class="fas fa-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-right product">
                                    <!-- <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                        </li> -->
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
{% endblock %}
{% endif %}